.movie > p {
  border: 1px solid;
  flex: 50%;
  margin-right: 5px;
  text-align: center;
  padding: 5px;
}
.detail__description > p {
  line-height: 1.5;
}

.auditorium__container {
  border: 1px solid lightcoral;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
}
