p,
span {
  margin: 0;
  padding: 0;
  line-height: 1;
}

h2 {
  line-height: 1 !important;
  margin-bottom: 0 !important;
}

.header-cinema {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  background-color: #efebdb;
  color: #6f6247;
}
.header__info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__info > button {
  background: #ac966a;
  border: #ac966a;
  border-radius: 15px;
}

.header__info > p {
  font-weight: bold;
  font-style: oblique;
  margin-right: 10px;
  cursor: pointer;
}

.header__info > button:hover {
  background: #cdc197;
  border: #cdc197;
}

.header-cinema_left {
  display: flex;
}
.header-cinema_left > a > svg {
  margin-right: 5px;
}
.header-cinema_left > a {
  display: flex;
  align-items: center;
}

.logo-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-title > h2:nth-child(1) {
  color: #339af0;
  font-weight: bold;
  padding: 15px 0;
}
.logo-title > h2:nth-child(2) {
  color: #ff4d4f;
  font-weight: bold;
  padding: 15px 0;
}

.header-cinema > div > a {
  text-decoration: none;
  color: #6f6247;
  font-weight: 600;
}

.header-cinema > div > a:hover {
  color: #40a9ff;
}

.header-cinema > div > a:nth-child(1) {
  padding: 0 10px;
}

.menu-bar {
  padding: 10px 0;
}

ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0;
}

li > a {
  color: #555;
  text-align: center;
  padding: 14px 16px;
  font-size: 20px;
  text-transform: uppercase;
}

li > a:hover {
  color: #555;
  text-decoration: none;
  border-bottom: 1px solid;
}

.active {
  padding-bottom: 13px;
  font-weight: bold;
}
